
/* ниже - стили для тегов */

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 165px 20px 106px 50px;
  position: relative;
  z-index: 2;
}

address {
  width: 240px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 180px 50px 82px 50px;
  align-items: start;
  justify-content: space-between;
}


/* ниже стили классов для секции header */

.header_menu_horizontal {
  display: flex;
  gap: 33px;
  list-style: circle;
  justify-self: left;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.header_menu_selected_item {
  list-style: none;
}

.header_menu_link {
 text-decoration: underline;
 text-underline-offset: 5px;
}

.header_menu_link_active {
  text-decoration: auto;
}

.header_logo_link_settings {
  display: block;
  min-width: 135px;
  min-height: 105px;
}

.header_address_settings {
  justify-self: end;
}

.underline_address_links {
  text-decoration: underline;
  text-underline-offset: 5px;
}


/* ниже стили классов для секции cover */

.cover {
  position: relative;
}

.cover_background_image {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 60%;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

.cover_header_left {
  display: block;
  position: relative;
  text-align: start;
  margin-bottom: 20px;

}

.cover_header_center {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

}

.cover_header_right {
  display: block;
  position: relative;
  text-align: end;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 107px;
  align-items: center;
  padding: 0px 50px 50px 50px;
  z-index: 2;
}

.cover_description_header {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 127%;
  color: white;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover_bet_button {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 127%;
  color: white;
  text-transform: uppercase;
  border-width: 1px;
  border-color: white;
  background-color: transparent;
  width: 256px;
  height: 51px;
}


/* ниже - стили классов для секции лотов */

.lots {
 margin: 180px 24px 120px 24px;
}

.lot_section_header {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lot_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
}

.lot_list_item {
  position: relative;
  width: 334px;
  min-height: 596px;

}

.lot_link_settings {
height: 100%;
background-size: cover;
background-position: center;

}

.remove_underline {
  text-decoration: none;
}

.lot_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: white;
  text-underline-offset: 3px;
  z-index: 2;
}

.lot_description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: white;
  z-index: 2;
}

.lot_article_template {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 48px 40px 48px 40px;
  z-index: 0;
}

.lot_article_film-rezhissera {
  background-image: url(../images/card-lot-01.jpg);
}

.lot_article_kniga-skuchniy-den {
  background-image: url(../images/card-lot-02.jpg);
}

.lot_article_kartina-syna {
  background-image: url(../images/card-lot-03.jpg);
}

.see_more_link {
  display: block;
  margin-left: 40px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}


/* ниже - стили классов для секции about */

.about_section_settings {
  margin: 120px 24px 180px 24px;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 334px 1fr;
}

.background_for_logo {
  margin-left: 47px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color:black;
  border-radius: 100%;
  z-index: -1;
}

.about_logo_image {
  position: relative;
  width: 148px;
  height: 114px;
}

.about_article {
  margin-top: 136px;
  align-self: end;
  justify-content: end;
}

.about_header {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.text_container_settings{
  display: flex;
  flex-direction:column;
  gap: 24px;
}

.text_settings {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: black;
}


/* ниже стили классов для футера */

.footer_menu_settings {
  display: flex;
  flex-direction:column;
  list-style: none;
  align-items: center;
}

.footer_menu_item {
font-weight: 400;
font-size: 18px;
text-align: center;
}

.footer_menu_link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer_menu_link_active{
  text-decoration: auto;
}

.footer_social_networks {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-content: end;
}

.footer_social_network_item {
  width: 48px;
  height: 48px;
}


